#configurator{
  min-height:100vh;
  background: $dark2;

  .btnOutline{
    width: 42px;
    height: 42px;
    padding:0;
  }
  &>.row{
    position: relative;
    height:100%;
  }
  .headline{
    background:
            linear-gradient(135deg,$dark2,transparent),
            $dark1 url('../img/maskDotted.png');
    padding:0 35px;
    height: 96px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    z-index: 1;

    .list{
      margin: 0 0 0 -25px;
      padding: 25px;
      white-space: nowrap;
      background: linear-gradient(135deg,rgba(255,255,255,0.05),transparent);
      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        background:none;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #323f52;
      }

      a{
        display: inline-block;
        border-radius: 4px;
        padding: 8px 16px;
        color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 0 1px rgba(255,255,255,0.2);
        text-decoration: none;
        transition: box-shadow .15s;

        +a{
          margin-left:10px;
        }
        &:not(.checked):hover{
          color:#fff;
          box-shadow: 0 0 0 1px rgba(255,255,255,0.3);
        }
        &.checked{
          background:$blue;
          color:$dark2;
        }
      }
    }
  }
  .globalMenu{
    padding: 0!important;
    overflow: hidden;

    /*@keyframes transfusion{
      0%{
        background: $blue;
      }
      25%{
        background: #4444ed;
      }
      50%{
        background: $pink;
      }
      75%{
        background: #4444ed;
      }
      100%{
        background: $blue;
      }
    }
    &::after{
      //content:'';
      display: block;
      position: absolute;
      //background: linear-gradient(180deg,$blue, #4444ed, $pink) center;
      background:$blue;
      height:100%;
      width:4px;
      top:0;
      right:0;
      animation: transfusion 4s infinite;
      z-index:1;
    }*/
  }
  .total{
    padding:25px 35px;
    margin:0;

    small{
      font-size:14px;
      opacity: .5;
    }
    h3{
      font-size:32px;
      line-height: 36px;
    }
    .price{
      color:$blue;
    }
  }
  .components{
    border-top:1px solid rgba(255, 255, 255, 0.05);
    list-style:none;

    a{
      position: relative;
      border-bottom:1px solid rgba(255, 255, 255, 0.05);
      margin:0;
      padding:25px 35px;
      transition: .2s;
      text-decoration:none;

      &.checked,
      &:hover{
        background: $dark2;
        transition: none;
      }
      /*&::before{
        content:'';
        display: block;
        position: absolute;
        background:$blue;
        height:100%;
        width:100%;
        opacity:0;
        left:0;
        top:0;
        transition: .2s;
        animation: transfusion 4s infinite;
        z-index:0;
      }
      &:hover{
        &::before{
          opacity:.2;
          transition: none;
        }
      }*/
    }
    .preview{
      display: block;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.25);
      height:49px;
      width:49px;
    }
    .col{
      padding-right:0;
    }
    h3{
      font-size:21px;
    }
    p{
      font-size:14px;
      color: rgba(255, 255, 255, 0.5);

      b{
        color:$blue;
      }
    }
    .fa-check{
      display: block;
      border-radius: 50%;
      background: #61dcff;
      padding: 8px;
      font-size: 18px;
      color: #1c1d26;
    }
  }
  .card{
    display: block;
    //border:1px solid rgba(255, 255, 255, 0.1);
    background:$dark1;//linear-gradient(135deg, rgba(255, 255, 255, 0.05),transparent);
    padding:25px;
    width:100%;

    &.catalog{
      padding:0;
    }
    .empty{
      min-height: 320px;
    }
  }
  .dashboard{
    padding: 55px;
    overflow: hidden;

    h3{
      font-size:32px;

      small{
        color:$blue;
      }
      ~p{
        font-size:16px;
        margin:10px 0 0;
        max-width:630px;
        opacity:.6;
      }
    }
    .topline{
      padding: 5px 15px;
      a{
        display: inline-block;
        color: rgba(255, 255, 255, 0.6);
        padding: 15px 10px;
        margin: 0 10px 0 0;
        text-decoration: none;

        &.checked{
          color:$blue!important;
          font-weight:900;
          cursor: default!important;
        }
      }
      //border-bottom:1px solid rgba(255, 255, 255, 0.1);
    }
  }
  .catalog{
    .row{
      border-top:1px solid rgba(255, 255, 255, 0.05);
      padding:15px 25px;
      margin:0;
      &:nth-child(even){
        img{
          background: linear-gradient(135deg, transparent, rgba(255, 255, 255, 0.05));
        }
      }
      &.checked{
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), transparent);

        .price{
          font-weight:bold;
          color:$blue;
        }
      }
    }
    [class*="col"]{
      padding:0;
    }
    label{
      display: inline-block;
      padding-right:15px;

      [type="radio"]{
        &::before{
          background:#282931;
        }
      }
    }
    img{
      display: block;
      border-radius: 50%;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), transparent);
      width: 64px;
      height: 64px;
      margin:0 20px 0 0;
    }
    h4{
      font-size:18px;
    }
    .price{
      margin-right: 15px;
      font-size:18px;

      i{
        font-size: 16px;
      }
    }
    .tag{
      display: inline-block;
      font-size: 12px;
      line-height: 21px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;

      &+.tag{
        margin-left:10px;
      }

      &.available{
        color: $blue;
      }
      &.unavailable{
        color: $pink;
      }
      &.recommended{
        color: #ecb44f;
      }
    }
  }
  .filters{
    a{
      text-decoration: none;

      [class*="fa"]{
        color:$blue;
      }
    }
    h4{
      line-height:36px;
      font-size: 18px;
      margin: 0 0 15px 0;
      letter-spacing: .25px;
    }
    .row{
      margin-left:0;
      margin-right:0;
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      align-items: center!important;
    }
    .group{
      margin:35px 0 0;

      &.search{
        margin:15px 0 0;
      }
      ul{
        margin:-10px 0 0;
        list-style:none;
      }
      label{
        display: block;
        font-size:18px;
        line-height: 36px;
        user-select: none;
      }
    }
    .roll{
      i{
        font-size: 21px;
        margin: 0 5px 0 0;
        vertical-align: middle;
      }
    }
    .clear{
      font-size:16px;
      margin:0 0 0 auto;
    }
    .toggle{
      padding: 10px 0 0 32px;

      a{
        border-bottom:1px dotted $blue;
        color: $blue;
        font-size: 18px;

        &:hover{
          border:none;
        }
      }
    }
  }
  label{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
  }
  .hoverEvent{
    transition:color .2s;
    &:hover{
      color:#fff!important;
      transition:none;
    }
  }
  .field{
    border-radius: 4px;
    border: 2px solid $blue;
    background: none;
    padding: 10px 12px;
    outline: none;
    color: #fff;

    &[type="radio"],
    &[type="checkbox"]{
      position: relative;
      margin:0 15px 0 0;
      &::before{
        content:'';
        position: absolute;
        border-radius: 4px;
        //border: 2px solid $blue;
        box-shadow: inset 0 0 0 2px $blue;
        background: $dark1;
        width:20px;
        height:20px;
        top:-3px;
        left:0;
      }
      &::after{
        content: '\f00c';
        position: absolute;
        @include FontAwesome;
        color: transparent;
        width: 20px;
        top:-10px;
        left: 3px;
        font-size: 24px;
        line-height: 20px;
      }
      &:checked{
        &::before{
          box-shadow: inset 0 0 0 2px $pink;
          //box-shadow: inset 0 0 0 5px $pink;
          //border-color: rgba(255, 255, 255, 0.6)
        }
        &::after{
          color: $pink;
          top: -6px;
          text-shadow: -2px -2px $dark2, 2px 2px $dark2;
        }
      }
    }
    &[type="radio"]{
      &::before{
        border-radius:50%;
        //box-shadow:inset 0 0 $blue;
      }
      &::after{
        content:unset;
      }
      &:checked{
        &::before{
          border-color:$pink;
          box-shadow:inset 0 0 0 5px $pink;
        }
      }
    }

    &:hover,
    &:focus,
    &:active{
      @include placeholder{
        color: #fff;
        transition: none;
      }
    }
    @include placeholder{
      color: rgba(255, 255, 255, 0.6);
      transition: .2s;
    }
    &:not([type]){
      display: block;
      width: 100%;
    }
  }
}