#header{
  position: relative;
  padding: 0 0 128px;

  .wrapper{
    z-index:unset;
  }
  .caption{
    .left{

    }
    .right{
      p{
        color:rgba(255, 220, 220, 0.75);
      }
    }

    p{
      font-weight: bold;
      margin:35px 0 0;
      text-transform: uppercase;
    }
  }

  .anchor{
    z-index:2;
  }
  .anchor,
  .teaser{
    position: absolute;
    height:100%;
    width:50%;
    top:0;
    z-index:0;

    &.left{
      left:0;
    }
    &.right{
      right:0;
    }
  }
  .anchor{
    z-index:1;

    &.left:hover~.left,
    &.right:hover~.right{
      background-size:145%;
      &::before{
        opacity:.7;
      }
    }
  }
  .teaser{
    background:url('../img/header.jpg') no-repeat center;
    background-size:125%;

    &::before{
      content:'';
      display: block;
      position: absolute;
      background: linear-gradient(135deg, $blue, #4444ed, $pink) center;
      background-size: 400%;
      height:100%;
      width:100%;
      opacity:.8;
    }
    &.left{
      background-image:url('../img/header1.jpg');
      &::before{
        background-position: left top!important;
      }
    }
    &.right{
      background-image:url('../img/header6.png');
      &::before{
        background-position: right bottom;
      }
    }
  }
}