@font-face {
  font-family: 'minecraft';
  font-style: normal;
  font-weight: normal;
  src: url("../font/MinecraftRegular.ttf") format("truetype"); }
@font-face {
  font-family: 'FSElliotPro';
  src: url("../font/FSElliotPro.eot");
  src: url("../font/FSElliotPro.ttf") format("truetype"), url("../font/FSElliotPro.svg#FSElliotPro") format("svg"), url("../font/FSElliotPro.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FSElliotPro';
  src: url("../font/FSElliotPro-Italic.eot");
  src: url("../font/FSElliotPro-Italic.ttf") format("truetype"), url("../font/FSElliotPro-Italic.svg#FSElliotPro-Italic") format("svg"), url("../font/FSElliotPro-Italic.eot?#iefix") format("embedded-opentype");
  font-style: italic;
  font-weight: normal; }
@font-face {
  font-family: 'FSElliotPro';
  src: url("../font/FSElliotPro-Bold.eot");
  src: url("../font/FSElliotPro-Bold.ttf") format("truetype"), url("../font/FSElliotPro-Bold.svg#FSElliotPro-Bold") format("svg"), url("../font/FSElliotPro-Bold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: 'FSElliotPro';
  src: url("../font/FSElliotPro-BoldItalic.eot");
  src: url("../font/FSElliotPro-BoldItalic.ttf") format("truetype"), url("../font/FSElliotPro-BoldItalic.svg#FSElliotPro-BoldItalic") format("svg"), url("../font/FSElliotPro-BoldItalic.eot?#iefix") format("embedded-opentype");
  font-style: italic;
  font-weight: bold; }
@font-face {
  font-family: 'FSElliotPro';
  src: url("../font/FSElliotPro-Heavy.eot");
  src: url("../font/FSElliotPro-Heavy.ttf") format("truetype"), url("../font/FSElliotPro-Heavy.svg#FSElliotPro-Heavy") format("svg"), url("../font/FSElliotPro-Heavy.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: 900; }
.test_class_WL9K1E {
  display: none; }
  .test_class_WL9K1E .col-3:nth-child(1) .privilege {
    background: linear-gradient(145deg, #61c2ff 0, #61ffd3 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(2) .privilege {
    background: linear-gradient(145deg, #61a7ff 0, #61ffed 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(3) .privilege {
    background: linear-gradient(145deg, #618dff 0, #61f6ff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(4) .privilege {
    background: linear-gradient(145deg, #6173ff 0, #61dcff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(5) .privilege {
    background: linear-gradient(145deg, #6a61ff 0, #61c2ff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(6) .privilege {
    background: linear-gradient(145deg, #8461ff 0, #61a7ff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(7) .privilege {
    background: linear-gradient(145deg, #9e61ff 0, #618dff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(8) .privilege {
    background: linear-gradient(145deg, #b961ff 0, #6173ff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(9) .privilege {
    background: linear-gradient(145deg, #d361ff 0, #6a61ff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(10) .privilege {
    background: linear-gradient(145deg, #ed61ff 0, #8461ff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(11) .privilege {
    background: linear-gradient(145deg, #ff61f6 0, #9e61ff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(12) .privilege {
    background: linear-gradient(145deg, #ff61dc 0, #b961ff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(13) .privilege {
    background: linear-gradient(145deg, #ff61c2 0, #d361ff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(14) .privilege {
    background: linear-gradient(145deg, #ff61a7 0, #ed61ff 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(15) .privilege {
    background: linear-gradient(145deg, #ff618d 0, #ff61f6 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(16) .privilege {
    background: linear-gradient(145deg, #ff6173 0, #ff61dc 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(17) .privilege {
    background: linear-gradient(145deg, #ff6a61 0, #ff61c2 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(18) .privilege {
    background: linear-gradient(145deg, #ff8461 0, #ff61a7 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(19) .privilege {
    background: linear-gradient(145deg, #ff9e61 0, #ff618d 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(20) .privilege {
    background: linear-gradient(145deg, #ffb961 0, #ff6173 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(21) .privilege {
    background: linear-gradient(145deg, #ffd361 0, #ff6a61 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(22) .privilege {
    background: linear-gradient(145deg, #ffed61 0, #ff8461 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(23) .privilege {
    background: linear-gradient(145deg, #f6ff61 0, #ff9e61 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(24) .privilege {
    background: linear-gradient(145deg, #dcff61 0, #ffb961 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(25) .privilege {
    background: linear-gradient(145deg, #c2ff61 0, #ffd361 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(26) .privilege {
    background: linear-gradient(145deg, #a7ff61 0, #ffed61 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(27) .privilege {
    background: linear-gradient(145deg, #8dff61 0, #f6ff61 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(28) .privilege {
    background: linear-gradient(145deg, #73ff61 0, #dcff61 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(29) .privilege {
    background: linear-gradient(145deg, #61ff6a 0, #c2ff61 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(30) .privilege {
    background: linear-gradient(145deg, #61ff84 0, #a7ff61 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(31) .privilege {
    background: linear-gradient(145deg, #61ff9e 0, #8dff61 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(32) .privilege {
    background: linear-gradient(145deg, #61ffb9 0, #73ff61 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(33) .privilege {
    background: linear-gradient(145deg, #61ffd3 0, #61ff6a 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(34) .privilege {
    background: linear-gradient(145deg, #61ffed 0, #61ff84 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(35) .privilege {
    background: linear-gradient(145deg, #61f6ff 0, #61ff9e 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(36) .privilege {
    background: linear-gradient(145deg, #61dcff 0, #61ffb9 100%) !important;
    min-height: 300px; }
  .test_class_WL9K1E .col-3:nth-child(4) ~ .col-3 {
    margin-top: 15px;
    padding-left: 0; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, let, video {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  vertical-align: baseline; }

*, a, div, p {
  font-family: 'FSElliotPro'; }

a, a * {
  cursor: pointer !important; }

a, a:hover {
  color: #fff; }

body {
  position: relative;
  background: #1c1d26;
  color: #fff;
  right: 0;
  transition: right .15s;
  overflow-x: hidden; }

.wrapper {
  width: 100%;
  max-width: 1480px;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1; }

.hoverLight:hover {
  opacity: .75; }

.linkArrow {
  font-weight: bold;
  color: #fff; }
  .linkArrow::after {
    content: '\f061';
    display: inline-block;
    font-family: 'Font Awesome 5 Pro', sans-serif;
    margin: 0 0 0 5px;
    font-size: 80%; }
  .linkArrow:hover {
    opacity: .7;
    text-decoration: none; }
    .linkArrow:hover::after {
      margin: 0 0 0 10px; }

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2); }

img {
  user-select: none;
  pointer-events: none; }

.logo,
.navItem a,
.navItem::before,
.globalNav .social i,
.menuToggle span,
.linkArrow::after,
.linkArrow,
.hoverLight,
.cell {
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }

#nav {
  display: none;
  position: fixed;
  background: rgba(28, 29, 38, 0);
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  transition: background .15s;
  z-index: 9999; }
  #nav .sidebar {
    position: absolute;
    background: linear-gradient(135deg, #1c1d26, transparent), #222239 url("../img/maskDotted.png");
    background-size: auto, 100px;
    height: 100vh;
    width: 560px;
    margin: 0;
    top: 0;
    right: -600px;
    transition: right .15s; }
  #nav .navList {
    padding: 0;
    margin: 0;
    list-style: none; }
    #nav .navList a {
      position: relative;
      color: #fff;
      left: 0;
      text-decoration: none; }
    #nav .navList li {
      padding: 0 0 0 70px;
      float: left;
      clear: both; }
  #nav .navItem {
    display: block;
    position: relative;
    font-weight: 900;
    font-size: 28px;
    line-height: 58px;
    letter-spacing: .75px; }
    #nav .navItem::before {
      content: '';
      display: block;
      position: absolute;
      background: #62dcff;
      height: 10px;
      width: 0;
      left: 0;
      bottom: 12px; }
    #nav .navItem:hover a {
      left: 12px; }
    #nav .navItem:hover::before {
      width: 100%; }
    #nav .navItem:nth-child(even)::before {
      background: #ec4f7e; }
  #nav .navSocial {
    margin: 15px 0 0; }
    #nav .navSocial a {
      opacity: .4;
      font-size: 21px;
      margin: 0 15px 0 0; }
      #nav .navSocial a:hover {
        opacity: 1;
        color: #62dcff;
        transition: none; }
      #nav .navSocial a:nth-child(even):hover {
        color: #ec4f7e; }
  #nav .menuToggle {
    display: block;
    position: relative;
    background: #ec4f7e;
    line-height: 70px;
    font-size: 36px;
    color: #fff;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    transition: .15s;
    text-align: center; }
    #nav .menuToggle::before {
      content: '';
      display: block;
      position: absolute;
      border: 1px solid #ec4f7e;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: .15s; }
    #nav .menuToggle:hover {
      top: 10px;
      left: 10px; }
      #nav .menuToggle:hover::before {
        top: -10px;
        left: -10px; }

.navOpened {
  right: 560px;
  overflow-y: hidden; }
  .navOpened #nav {
    background: rgba(28, 29, 38, 0.65);
    overflow: hidden scroll; }
    .navOpened #nav .sidebar {
      right: 0; }

@keyframes menuToggleShift {
  0%, 25%, 75%, 100% {
    background: #fff; }
  25%, 50% {
    background: #61dcff; } }
.globalNav {
  padding: 60px 0;
  margin: 0 0 45px; }
  .globalNav .menuToggle {
    display: inline-block;
    height: 29px;
    width: 36px;
    font-size: 0;
    line-height: 0;
    text-align: right;
    /*display:inline-block;
    height:29px;
    width:36px;
    font-size: 0;
    line-height: 0;
    text-align: right;

    span{
      display: inline-block;
      background: #62dcff;
      border-radius:4px;
      width: 100%;
      height: 5px;
      font-size: 0;
      line-height: 0;
      text-align: right;

      &:nth-child(2){
        background:#fff;
        width:60%;
        margin:7px 0;
      }
      &:nth-child(3){
        width:75%;
      }
    }
    &:hover{
      span{
        &:nth-child(1){
          width:85%;
        }
        &:nth-child(2){
          width:100%;
        }
        &:nth-child(3){
          width:60%;
        }
      }
    }*/ }
    .globalNav .menuToggle span {
      display: inline-block;
      background: #fff;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      font-size: 0;
      line-height: 0;
      margin: 0 0 6px 6px; }
      .globalNav .menuToggle span:nth-child(n+7), .globalNav .menuToggle span:nth-child(-n+3) {
        background: #61dcff; }
    .globalNav .menuToggle:hover span {
      background: #fff;
      animation: menuToggleShift 1s infinite; }
      .globalNav .menuToggle:hover span:nth-child(odd) {
        animation-delay: .25s; }
  .globalNav .social {
    padding: 12px; }
    .globalNav .social i {
      line-height: 1;
      font-size: 28px;
      color: #62dcff; }
    .globalNav .social:hover i {
      color: #fff; }
  .globalNav .phone {
    display: inline-block;
    position: relative;
    padding: 0 0 0 32px;
    line-height: 21px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    text-decoration: none; }
    .globalNav .phone i {
      display: block;
      position: absolute;
      line-height: 42px;
      font-size: 28px;
      color: #62dcff;
      left: 0;
      top: 0; }
    .globalNav .phone span {
      display: block;
      color: #62dcff; }

#header {
  padding: 0 0 128px; }
  #header .categories {
    margin-top: 0;
    top: 0; }
  #header .pick {
    display: block;
    position: relative;
    background: #62dcff url("../img/pick1.png") 0 35%;
    min-height: 660px;
    padding: 35px;
    transform: scale(1);
    transform-origin: center;
    transition-duration: .15s;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
    /*&::before{
      content:'';
      display:block;
      position: absolute;
      background-repeat:no-repeat!important;
      //filter:blur(10px);
      width:200%;
      height:200%;
      left:-25%;
      top:-25%;
      z-index:0;
    }*/ }
    #header .pick:hover {
      transform: scale(1.05);
      box-shadow: 0 25px 45px 0 rgba(0, 0, 0, 0.4);
      z-index: 1; }
    #header .pick:active {
      transform: scale(1);
      -webkit-filter: brightness(0.5);
      filter: brightness(0.5);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1); }
    #header .pick.pick2 {
      background: #ec4f7e url("../img/pick2.png") 0 35%; }
      #header .pick.pick2 h3 {
        text-shadow: 4px 4px #ec4f7e; }
      #header .pick.pick2 p span {
        background: #ec4f7e; }
    #header .pick h3 {
      font-weight: 900;
      font-size: 54px;
      max-width: unset;
      text-shadow: 4px 4px #61dcff;
      text-transform: uppercase; }
    #header .pick p {
      font-size: 21px;
      color: #000;
      margin: 25px 0 0;
      max-width: 70%; }
      #header .pick p span {
        background: #62dcff; }

.promo {
  position: relative;
  background: url("../img/header.jpg") no-repeat center 85%;
  background-size: cover;
  padding: 256px 0 0; }
  .promo .wrapper {
    z-index: 1; }
  .promo::before {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(135deg, #61dcff, #4444ed, #ec4f7e);
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; }

.caption h2 {
  font-weight: 900;
  font-size: 5em;
  color: #fff; }
.caption mark {
  background: none;
  color: #62dcff; }
.caption p {
  max-width: 720px;
  font-size: 21px;
  color: rgba(220, 238, 255, 0.75); }
  .caption p + p {
    margin-top: 10px; }

#builds {
  position: relative;
  padding: 128px 0;
  background: #1c1d26; }
  #builds .caption {
    z-index: 1; }
  #builds .cell {
    display: block;
    height: 100%;
    background: #61dcff;
    padding: 15px 25px;
    text-decoration: none; }
    #builds .cell:hover {
      background: #ec4f7e;
      transition: none; }
  #builds .row:nth-child(odd) .cell {
    background: #ec4f7e; }
    #builds .row:nth-child(odd) .cell:hover {
      background: #61dcff; }
  #builds h5 {
    font-weight: bold;
    color: #1c1d26; }
  #builds img {
    display: block;
    max-width: 75%;
    margin: 15px auto; }
  #builds .price {
    color: rgba(0, 0, 0, 0.7);
    font-size: 18px; }
  #builds .more {
    height: 100%;
    padding: 15px;
    text-align: center;
    text-decoration: none; }
    #builds .more::before {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      background: #61dcff;
      height: 0;
      width: 0;
      top: 50%;
      left: 50%;
      transition: .2s;
      z-index: 0; }
    #builds .more * {
      position: relative;
      z-index: 1;
      transition: .2s; }
    #builds .more i[class*="fa"] {
      display: block;
      font-size: 54px;
      color: #61dcff;
      margin: 0 0 15px; }
    #builds .more p {
      color: rgba(220, 238, 255, 0.75); }
    #builds .more:hover::before {
      border-radius: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    #builds .more:hover i[class*="fa"] {
      color: #000; }
    #builds .more:hover p {
      color: #fff; }

#features {
  background: url("../img/pick1.png") no-repeat 60em -50em, linear-gradient(135deg, #222239, transparent), #222239 url("../img/maskDotted.png");
  background-size: auto, auto, auto, 100px;
  padding: 128px 0; }
  #features [class*="col"] {
    padding: 40px; }
    #features [class*="col"]:nth-child(even) {
      background: rgba(255, 255, 255, 0.05); }
  #features [class*="fa"] {
    line-height: 54px;
    font-size: 48px;
    color: #61dcff; }
  #features h3 {
    margin: 20px 0 0;
    color: #61dcff;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase; }
  #features .row {
    margin: 0 -40px; }
    #features .row p {
      margin: 15px 0 0;
      font-size: 16px;
      line-height: 26px;
      color: rgba(220, 238, 255, 0.75); }

.configure::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  background: url("../img/circles.png") center;
  width: 512px;
  height: 512px;
  top: -80%; }
.configure .empty {
  position: absolute;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  width: 360px;
  height: 180px; }
  .configure .empty:nth-child(1) {
    top: -40px;
    left: 0; }
  .configure .empty:nth-child(2) {
    top: 90px;
    left: 60px; }
  .configure .empty:nth-child(3) {
    top: 35px;
    right: 0; }
.configure .card {
  position: relative;
  border-radius: 15px;
  background: #222239;
  max-width: 360px;
  min-height: 180px;
  padding: 25px;
  margin: auto;
  top: 0;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 9px #222239, inset 0 0 0 10px rgba(98, 219, 254, 0.1);
  text-decoration: none;
  text-align: center;
  z-index: 1; }
  .configure .card, .configure .card::before, .configure .card::after {
    transition-duration: .15s; }
  .configure .card:hover {
    top: -20px;
    box-shadow: 0 35px 45px 0 rgba(0, 0, 0, 0.4), inset 0 0 0 9px #222239, inset 0 0 0 10px rgba(98, 219, 254, 0.1); }
    .configure .card:hover::before {
      width: 135%;
      left: -10%; }
    .configure .card:hover::after {
      width: 135%;
      right: -10%; }
  .configure .card::before, .configure .card::after {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(to right, transparent, #62dcff);
    width: 125%;
    height: 75px;
    transform: skewY(-12deg); }
  .configure .card::before {
    left: -35%;
    top: -50px; }
  .configure .card::after {
    background: linear-gradient(to left, transparent, #ec4f7e);
    right: -35%;
    bottom: -50px; }
.configure h3 {
  color: #ec4f7e;
  font-weight: bold;
  text-transform: uppercase; }
  .configure h3 small {
    color: #62dcff;
    font-size: 18px;
    font-weight: bold; }
  .configure h3 span {
    display: block;
    font-size: 32px;
    color: #fff; }

@keyframes cardShow {
  0% {
    opacity: 0;
    top: -25px; }
  100% {
    opacity: 1;
    top: 0; } }
.categories {
  position: relative;
  margin-top: -72px;
  top: 128px;
  /*[class*="col"]:nth-child(1) > .card { animation-delay: .3s };
  [class*="col"]:nth-child(2) > .card { animation-delay: .8s };
  [class*="col"]:nth-child(3) > .card { animation-delay: 1.3s };*/ }
  .categories .card {
    position: relative;
    background-image: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);
    background-size: auto;
    padding: 25px;
    opacity: 0;
    top: -25px;
    min-height: 240px;
    animation: cardShow .8s forwards;
    text-decoration: none;
    transform: scale(1);
    transform-origin: center;
    transition-duration: .15s; }
    .categories .card:hover {
      transform: scale(1.075);
      box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.1);
      z-index: 1; }
    .categories .card:active {
      transform: scale(1);
      -webkit-filter: brightness(0.5);
      filter: brightness(0.5);
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3); }
  .categories .col-6 > .card {
    min-height: 320px; }
  .categories [class*="col"]:nth-child(1) > .card {
    animation-delay: 0.3s; }
  .categories [class*="col"]:nth-child(2) > .card {
    animation-delay: 0.8s; }
  .categories [class*="col"]:nth-child(3) > .card {
    animation-delay: 1.3s; }
  .categories h3 {
    font-weight: bold;
    font-size: 25px;
    max-width: 280px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
    .categories h3 small {
      display: block;
      font-size: 14px;
      margin: 0 0 5px; }
  .categories .nvidia {
    background: #c1dfc4 url("../img/nvidia.png") no-repeat 0 150px;
    background-size: auto; }
  .categories .intel {
    background: #accbee url("../img/intel.png") no-repeat -15% -50%; }
  .categories .comboIntelNvidia {
    background: url("../img/intelNvidia.png") no-repeat 200% -20%, linear-gradient(135deg, #1c1d26, #222239);
    background-size: 85%, auto; }
  .categories .amd {
    background: #222239 url("../img/amd.png") no-repeat 15% 135px; }
  .categories .radeon {
    background: #FFA99F url("../img/radeon.png") no-repeat 85px 100px;
    background-size: 100%, auto; }
  .categories .comboRadeonAmd {
    background: url("../img/radeonAmd.png") no-repeat -200px 45%, linear-gradient(45deg, #FFE29F 0%, #FFA99F, #FF719A); }
  .categories .ggg {
    background-image: linear-gradient(225deg, #FFE29F 0%, #FFA99F, #FF719A);
    background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    background-image: linear-gradient(to right, #ffc3a0 0%, #ffafbd 100%);
    background: #dc95a9; }

#footer {
  min-height: 360px; }

#configurator {
  min-height: 100vh;
  background: #222239; }
  #configurator > .row {
    position: relative;
    height: 100%; }
  #configurator .headline {
    padding: 15px 30px;
    height: 96px;
    margin: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    z-index: 1; }
  #configurator .globalMenu {
    background: linear-gradient(135deg, #222239, transparent), #1c1d26 url("../img/maskDotted.png");
    padding: 0 4px 0 0;
    overflow: hidden; }
@keyframes transfusion {
  0% {
    background: #61dcff; }
  25% {
    background: #4444ed; }
  50% {
    background: #ec4f7e; }
  75% {
    background: #4444ed; }
  100% {
    background: #61dcff; } }
    #configurator .globalMenu::after {
      content: '';
      display: block;
      position: absolute;
      background: #61dcff;
      height: 100%;
      width: 4px;
      top: 0;
      right: 0;
      animation: transfusion 4s infinite;
      z-index: 1; }
  #configurator .content {
    padding: 35px; }
  #configurator .components {
    list-style: none; }
    #configurator .components a {
      position: relative;
      margin: 0 -20px;
      padding: 20px;
      text-decoration: none; }
      #configurator .components a::before {
        content: '';
        display: block;
        position: absolute;
        background: #61dcff;
        height: 100%;
        width: 100%;
        opacity: 0;
        left: 0;
        top: 0;
        transition: .2s;
        animation: transfusion 4s infinite;
        z-index: 0; }
      #configurator .components a:hover::before {
        opacity: .2;
        transition: none; }
    #configurator .components .preview {
      display: block;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.25);
      height: 49px;
      width: 49px; }
    #configurator .components .col {
      padding-right: 0; }
    #configurator .components h3 {
      font-size: 24px; }
    #configurator .components p {
      font-size: 14px;
      opacity: .5; }
  #configurator .dashboard {
    padding: 0;
    overflow: hidden; }
    #configurator .dashboard .content {
      padding: 55px; }
    #configurator .dashboard h3 {
      font-size: 32px; }
      #configurator .dashboard h3 small {
        color: #61dcff; }
      #configurator .dashboard h3 ~ p {
        font-size: 16px;
        margin: 10px 0 0;
        max-width: 630px;
        opacity: .6; }
    #configurator .dashboard .card {
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: transparent;
      padding: 25px;
      width: 100%;
      box-shadow: inset 1px 1px rgba(255, 255, 255, 0.05); }
      #configurator .dashboard .card .empty {
        min-height: 320px; }
  #configurator .filters h4 {
    line-height: 36px;
    font-size: 18px;
    letter-spacing: .25px; }
  #configurator .filters .group {
    margin: 15px 0 0; }
    #configurator .filters .group ul {
      list-style: none;
      margin: 10px 0; }
    #configurator .filters .group label {
      display: block;
      cursor: pointer;
      font-size: 18px;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.6); }
  #configurator .filters .field {
    border-radius: 4px;
    border: 2px solid #61dcff;
    background: #222239;
    padding: 10px 15px;
    outline: none;
    color: #fff; }
    #configurator .filters .field[type="checkbox"] {
      position: relative;
      margin: 0 15px 0 0; }
      #configurator .filters .field[type="checkbox"]::before {
        content: '';
        position: absolute;
        border-radius: 4px;
        border: 2px solid #61dcff;
        background: #222239;
        width: 20px;
        height: 20px;
        top: -3px;
        left: 0; }
      #configurator .filters .field[type="checkbox"]::after {
        content: '\f00c';
        display: none;
        position: absolute;
        font-family: 'Font Awesome 5 Pro', sans-serif;
        color: #ec4f7e;
        width: 20px;
        top: -6px;
        left: 4px;
        font-size: 24px;
        line-height: 20px; }
      #configurator .filters .field[type="checkbox"]:checked::after {
        display: block; }
    #configurator .filters .field:hover::-webkit-input-placeholder, #configurator .filters .field:focus::-webkit-input-placeholder, #configurator .filters .field:active::-webkit-input-placeholder {
      color: #fff;
      transition: none; }
    #configurator .filters .field:hover:-moz-placeholder, #configurator .filters .field:focus:-moz-placeholder, #configurator .filters .field:active:-moz-placeholder {
      color: #fff;
      transition: none; }
    #configurator .filters .field:hover::-moz-placeholder, #configurator .filters .field:focus::-moz-placeholder, #configurator .filters .field:active::-moz-placeholder {
      color: #fff;
      transition: none; }
    #configurator .filters .field:hover:-ms-input-placeholder, #configurator .filters .field:focus:-ms-input-placeholder, #configurator .filters .field:active:-ms-input-placeholder {
      color: #fff;
      transition: none; }
    #configurator .filters .field::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6);
      transition: .2s; }
    #configurator .filters .field:-moz-placeholder {
      color: rgba(255, 255, 255, 0.6);
      transition: .2s; }
    #configurator .filters .field::-moz-placeholder {
      color: rgba(255, 255, 255, 0.6);
      transition: .2s; }
    #configurator .filters .field:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.6);
      transition: .2s; }
    #configurator .filters .field:not([type]) {
      display: block;
      width: 100%; }
  #configurator .filters .toggle {
    padding: 10px 0 0 32px; }
    #configurator .filters .toggle a {
      border-bottom: 1px dotted #61dcff;
      color: rgba(255, 255, 255, 0.6);
      font-size: 18px;
      text-decoration: none; }
      #configurator .filters .toggle a:hover {
        border: none; }
  #configurator .filters .hoverEvent {
    transition: color .2s; }
    #configurator .filters .hoverEvent:hover {
      color: #fff;
      transition: none; }

.template1::before {
  content: '';
  position: absolute;
  background: linear-gradient(159deg, #63047c 42%, #de3e58 64%, #ffca3a), linear-gradient(#1e2652, #1e2652);
  background: linear-gradient(45deg, #63047c 6%, #de3e58 65%, #ffca3a), linear-gradient(#1e2652, #1e2652);
  height: 728px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0; }

/*# sourceMappingURL=style.css.map */
