@import 'basement';

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, let, video {
  margin: 0;
  padding: 0;
  border: 0;
  cursor:default;
  vertical-align: baseline;
}
*, a, div, p {
  font-family: 'FSElliotPro';
}
a, a *{
  cursor:pointer!important;
}
a {
  &, &:hover{
    color: #fff;
  }
}

body {
  position: relative;
  //background: $dark2;
  background: $dark1;
  color: #fff;
  right:0;
  transition:right .15s;
  overflow-x:hidden;
}

.wrapper{
  width: 100%;
  max-width: 1480px;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}
.hoverLight{
  &:hover{
    opacity:.75;
  }
}
.linkArrow{
  font-weight:bold;
  color:#fff;

  &::after{
    content:'\f061';
    display: inline-block;
    @include FontAwesome;
    margin:0 0 0 5px;
    font-size: 80%;
  }
  &:hover{
    opacity:.7;
    text-decoration: none;
    &::after{
      margin:0 0 0 10px;
    }
  }
}
.btnFinish{
  position: relative;
  display: inline-block;
  background: rgba(0,0,0,0.6);
  border-radius: 6px;
  line-height: 32px;
  font-weight: bold;
  font-size: 18px;
  top:0;
  padding: 15px 20px;
  text-transform: uppercase;
  box-shadow:0 5px 15px -5px rgba(0, 0, 0, 0.4);

  &::after{
    content:'\f061';
    @include FontAwesome;
    margin:0 0 0 15px;
    color:$pink;
    text-shadow:0 0 10px $pink;
  }
  &:hover{
    top:-10px;
    box-shadow:0 10px 15px -5px rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
}
.btnOutline{
  position: relative;
  display: inline-block;
  background: #fff;
  line-height: 42px;
  font-size: 18px;
  color: transparentize($dark1, .2)!important;
  padding: 5px 25px;
  font-weight: bold;
  top:0;
  left:0;
  transition: .15s;
  text-align: center;
  text-transform: uppercase;

  &::before{
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    transition: .15s;
  }
  &.danger{
    color:#fff;
    background: $pink;
    &::before{
      border-color:$pink;
    }
  }
  &.primary{
    background: $blue;
    &::before{
      border-color:$blue;
    }
  }
  &:hover{
    top:10px;
    left:10px;
    text-decoration: none;
    &::before{
      top:-10px;
      left:-10px;
    }
  }

  &.large{
    padding:15px 25px;
    font-size:24px;

    &::before{
      border-width:2px;
    }
  }
  &+.btnOutline{
    margin-left:12px;
  }
}
.paging {
  margin: 25px 0 0;
  padding: 0 25px;

  .pagination {
    position:relative;
    padding-right: 96px;
    list-style:none;
    font-size: 0;
  }
  .page-item {
    display: inline-block;
    margin: 0 8px 0 0;
    vertical-align: top;

    &:nth-child(2),
    &:nth-child(8){
      display: none;
    }
    .page-link {
      display: block;
      border-radius: 4px;
      border: none;
      background: none;
      font-size: 24px;
      line-height: 36px;
      color: $blue;
      padding: 0 10px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      box-shadow:none;
      outline:none;

      i{
        display: block;
        font-size: 14px;
        line-height: 36px;
        vertical-align: top;
      }
      &:hover{
        color:#fff!important;
        transition:none;
      }
    }

    &:not(.disabled):not(.active):not(:first-child):not(:last-child):hover{
      a.page-link{
        color: #afb2be;
      }
    }
    &.active {
      .page-link{
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
        background: $blue;
        cursor: none;
        pointer-events: none;
      }
    }

    &:first-child,
    &:last-child{
      position:absolute;
      margin: 0;
      top:0;
      right:0;

      .page-link{
        display: block;
        background: $blue;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.5);
        height:36px;
        padding: 0 13px;
      }
      &.disabled{
        .page-link{
          color: $dark2;
          background-color: transparentize($blue, .9);
        }
      }
    }
    &:first-child{
      right:45px;
    }
  }
}
.card{
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}
img{
  user-select: none;
  pointer-events: none;
}

.logo,
.navItem a,
.navItem::before,
.paging .page-link,
.globalNav .social i,
.menuToggle span,
.linkArrow::after,
.linkArrow,
.hoverLight,
.teaser,
.teaser::before,
#order .form-control,
.btnFinish::after,
.btnFinish,
.cell,
.cell img,
.field::before,
.field::after,
.thumbnail .preview
{
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
@import 'nav', 'header', 'middle', 'footer', 'modal', 'configurator';


@media (max-width: 1400px) {
  .caption h2 {
    font-size: 4em;
  }
}
@media (max-width: 1200px) {
  .caption h2 {
    font-size: 3em;
  }
  #builds .productLine .caption{
    margin-top:-60px;
  }
  #footer {
    padding: 278px 0 0;
    margin: -150px 0 0;
    &::before{
      left:70%;
    }
  }
}
@media (max-width: 992px) {
  #header{
    padding-bottom:50px;
    .anchor,
    .teaser{
      width: 100%;
      height: 61%;

      &.right{
        height:39%;
        top: unset;
        bottom:0;
      }
    }
    .caption{
      .right{
        margin-top:128px;
      }
    }
  }
  #features{
    [class*="col"]{

      &:nth-child(even){
        background: none;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(10),
      &:nth-child(11){
        background: rgba(255, 255, 255, 0.05)!important;
      }
    }
  }
  #promo{
    .promo{
      padding:128px 0;
      &::before{
        background-position:bottom left;
        background-size: 768px;
      }
    }
    .btnOutline{
      white-space: nowrap;
    }
  }
  #footer{
    &::before{
      display: none;
    }
  }
  #order{
    .finish{
      .price{
        width: 100%;
        border:none;
      }
    }
  }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
  .caption{
    h2{
      font-size: 2em;
    }
    p{
      font-size:18px;
    }
  }
  .wrapper{
    padding-right: 15px;
    padding-left: 15px;
  }
  #builds{
    .productLine {
      padding: 15px;
      .caption{
        margin-top:0;
      }
    }
  }
  #features{
    text-align: center;
    .row p {
      margin: 15px 0 0;
      font-size: 14px;
    }
    [class*="col"]{
      background: none!important;
      &:nth-child(odd){
        background: rgba(255, 255, 255, 0.05)!important;
      }
    }
  }
  #promo{
    .btnOutline{
      padding: 5px 15px;
      font-size: 18px;
    }
  }
  #footer{
    .lower{
      text-align: center;
    }
  }
  #order{
    .finish{
      .price{
        font-size:3em;
      }
      h4{
        width:100%;
      }
    }
  }
}