@import 'basement';

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, let, video {
  margin: 0;
  padding: 0;
  border: 0;
  cursor:default;
  vertical-align: baseline;
}
*, a, div, p {
  font-family: 'FSElliotPro';
}
a, a *{
  cursor:pointer!important;
}
a {
  &, &:hover{
    color: #fff;
  }
}

body {
  position: relative;
  //background: $dark2;
  background: $dark1;
  color: #fff;
  right:0;
  transition:right .15s;
  overflow-x:hidden;
}

.wrapper{
  width: 100%;
  max-width: 1480px;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}
.hoverLight{
  &:hover{
    opacity:.75;
  }
}
.linkArrow{
  font-weight:bold;
  color:#fff;

  &::after{
    content:'\f061';
    display: inline-block;
    @include FontAwesome;
    margin:0 0 0 5px;
    font-size: 80%;
  }
  &:hover{
    opacity:.7;
    text-decoration: none;
    &::after{
      margin:0 0 0 10px;
    }
  }
}
.paging {
  margin: 25px 0 0;
  padding: 0 25px;

  .pagination {
    position:relative;
    padding-right: 96px;
    list-style:none;
    font-size: 0;
  }
  .page-item {
    display: inline-block;
    margin: 0 8px 0 0;
    vertical-align: top;

    &:nth-child(2),
    &:nth-child(8){
      display: none;
    }
    .page-link {
      display: block;
      border-radius: 4px;
      border: none;
      background: none;
      font-size: 24px;
      line-height: 36px;
      color: $blue;
      padding: 0 10px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      box-shadow:none;
      outline:none;

      i{
        display: block;
        font-size: 14px;
        line-height: 36px;
        vertical-align: top;
      }
      &:hover{
        color:#fff!important;
        transition:none;
      }
    }

    &:not(.disabled):not(.active):not(:first-child):not(:last-child):hover{
      a.page-link{
        color: #afb2be;
      }
    }
    &.active {
      .page-link{
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
        background: $blue;
        cursor: none;
        pointer-events: none;
      }
    }

    &:first-child,
    &:last-child{
      position:absolute;
      margin: 0;
      top:0;
      right:0;

      .page-link{
        display: block;
        background: $blue;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.5);
        height:36px;
        padding: 0 13px;
      }
      &.disabled{
        .page-link{
          color: $dark2;
          background-color: transparentize($blue, .9);
        }
      }
    }
    &:first-child{
      right:45px;
    }
  }
}
.card{
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}
img{
  user-select: none;
  pointer-events: none;
}

.logo,
.navItem a,
.navItem::before,
.paging .page-link,
.globalNav .social i,
.menuToggle span,
.linkArrow::after,
.linkArrow,
.hoverLight,
.cell
{
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
@import 'nav', 'header', 'middle', 'footer', 'modal', 'configurator';


.template1{
  &::before{
    content:'';
    position:absolute;
    background: linear-gradient(159deg,#63047c 42%,#de3e58 64%,#ffca3a),linear-gradient(#1e2652,#1e2652);
    background: linear-gradient(45deg,#63047c 6%,#de3e58 65%,#ffca3a),linear-gradient(#1e2652,#1e2652);
    height:728px;
    width:100%;
    top:0;
    left:0;
    z-index:0;
  }
}